### Paycheck Protection Program

Let's analyze **an excerpt** from  <a href="https://www.sba.gov/funding-programs/loans/covid-19-relief-options/paycheck-protection-program">SBA's PPP loan data</a>.

The file we're working on is an excerpt so **we can't draw any hypothesis from our findings** in this homework.

The excerpt can be found at this link: <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv">https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv</a>

In [4]:
## Run the code that resets the default display here to round the numbers, remove scientific notation, etc.
import pandas as pd
pd.options.display.float_format = '{:,.0f}'.format

In [8]:
pppLoanData = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/ppp_excerpt.csv")
pppLoanData.head()

,LoanNumber,DateApproved,SBAOfficeCode,ProcessingMethod,BorrowerName,BorrowerAddress,BorrowerCity,BorrowerState,BorrowerZip,LoanStatusDate,...,BusinessType,OriginatingLenderLocationID,OriginatingLender,OriginatingLenderCity,OriginatingLenderState,Gender,Veteran,NonProfit,ForgivenessAmount,ForgivenessDate
0,9547507704,05/01/2020,464,PPP,"SUMTER COATINGS, INC.",2410 Highway 15 South,Sumter,NaN,29150-9662,12/18/2020,...,Corporation,19248,Synovus Bank,COLUMBUS,GA,Unanswered,Unanswered,NaN,"773,553",11/20/2020
1,9777677704,05/01/2020,464,PPP,"PLEASANT PLACES, INC.",7684 Southrail Road,North Charleston,NaN,29420-9000,09/28/2021,...,Sole Proprietorship,19248,Synovus Bank,COLUMBUS,GA,Male Owned,Non-Veteran,NaN,"746,336",08/12/2021
2,5791407702,05/01/2020,1013,PPP,BOYER CHILDREN'S CLINIC,1850 BOYER AVE E,SEATTLE,NaN,98112-2922,03/17/2021,...,Non-Profit Organization,9551,"Bank of America, National Association",CHARLOTTE,NC,Unanswered,Unanswered,Y,"696,677",02/10/2021
3,6223567700,05/01/2020,920,PPP,KIRTLEY CONSTRUCTION INC,1661 MARTIN RANCH RD,SAN BERNARDINO,NaN,92407-1740,10/16/2021,...,Corporation,9551,"Bank of America, National Association",CHARLOTTE,NC,Male Owned,Non-Veteran,NaN,"395,264",09/10/2021
4,9662437702,05/01/2020,101,PPP,AERO BOX LLC,NaN,NaN,NaN,NaN,08/17/2021,...,NaN,57328,The Huntington National Bank,COLUMBUS,OH,Unanswered,Unanswered,NaN,"370,819",04/08/2021

In [10]:
## Run the code here to return all summary statistics in one go
pppLoanData.describe()

,LoanNumber,SBAOfficeCode,Term,SBAGuarantyPercentage,InitialApprovalAmount,CurrentApprovalAmount,UndisbursedAmount,ServicingLenderLocationID,JobsReported,NAICSCode,UTILITIES_PROCEED,PAYROLL_PROCEED,MORTGAGE_INTEREST_PROCEED,RENT_PROCEED,REFINANCE_EIDL_PROCEED,HEALTH_CARE_PROCEED,DEBT_INTEREST_PROCEED,OriginatingLenderLocationID,ForgivenessAmount
count,"1,000","1,000","1,000","1,000","1,000","1,000","1,000","1,000","1,000",999,413,998,38,147,1,77,20,"1,000",935
mean,"5,323,517,923","1,074",37,100,"952,351","964,704",0,"62,647",73,"509,317","16,864","938,579","33,246","71,710","10,000","111,150","33,143","62,025","912,983"
std,"2,362,640,834",94,17,0,"947,021","950,929",0,"75,173",74,"181,263","59,265","938,039","35,466","69,605",NaN,"198,886","47,648","73,473","854,059"
min,"1,001,567,103",101,24,100,"155,010","155,010",0,"3,386",2,"112,511",1,"155,010",567,"1,000","10,000","2,098",900,"3,386","101,211"
25%,"3,570,982,102","1,084",24,100,"453,308","463,935",0,"3,386",30,"423,175",1,"452,336","9,250","28,695","10,000","28,944","4,191","3,386","456,726"
50%,"5,124,373,556","1,084",24,100,"617,999","631,722",0,"56,102",48,"541,350",1,"616,318","20,276","50,222","10,000","50,295","14,629","56,102","623,037"
75%,"7,058,052,030","1,084",60,100,"1,024,391","1,035,338",0,"116,975",85,"621,760","12,460","1,013,201","50,138","91,491","10,000","100,000","35,946","116,975","1,010,828"
max,"9,993,717,000","1,084",60,100,"9,571,397","9,538,531",0,"524,612",500,"924,120","880,559","9,538,531","151,421","404,926","10,000","1,490,741","200,772","518,683","9,615,885"

In [12]:
## What is the sum of all the forgiven loans
pppLoanData["ForgivenessAmount"].sum()

853638795.3599999

In [14]:
## What is the sum of all the forgiven loans
## format with dollar sign and thousands separators
## round to zero decimals
f"The sum of all the forgiven loans was ${pppLoanData["ForgivenessAmount"].sum():,.0F}"

'The sum of all the forgiven loans was $853,638,795'

In [18]:
## store in variable called total_loan_forgiven
total_loan_forgiven = pppLoanData["ForgivenessAmount"].sum()

In [22]:
## return the median for CurrentApprovalAmount loans, InitialApprovalAmount loans and ForgivenessAmount loan amounts
pppLoanData[["CurrentApprovalAmount", "InitialApprovalAmount", "ForgivenessAmount"]].median()

CurrentApprovalAmount   631,722
InitialApprovalAmount   617,999
ForgivenessAmount       623,037
dtype: float64

In [26]:
##  Return the above as a frame
pppLoanData[["CurrentApprovalAmount", "InitialApprovalAmount", "ForgivenessAmount"]].median().to_frame("Medians")

                       Medians
CurrentApprovalAmount  631,722
InitialApprovalAmount  617,999
ForgivenessAmount      623,037

In [28]:
## get the count, mean and median for CurrentApprovalAmount
pppLoanData["CurrentApprovalAmount"].agg(["count","mean","median"])

count      1,000
mean     964,704
median   631,722
Name: CurrentApprovalAmount, dtype: float64

In [36]:
## automatically return a frame (without using to_frame()) for the count, mean and median for InitialApprovalAmount, CurrentApprovalAmount
pppLoanData[["CurrentApprovalAmount"]].agg(["count","mean","median"])

        CurrentApprovalAmount
count                   1,000
mean                  964,704
median                631,722

In [46]:
olympicData = pd.read_csv("olympicData")
olympicData.head()
#### I exported the post-concat dataset out of my in class notebook to bring it here instead of having to turn in two notebooks for homework

,ID,Athlete Name,Sex,Age,Height,Weight,Team,NOC,Year,City,Sport,Event,Medal,Season
0,391,Clarence John Abel,M,23,185,102,United States,USA,1924,Chamonix,Ice Hockey,Ice Hockey Men's Ice Hockey,Silver,winter
1,992,Josef Adolf,M,25,NaN,NaN,Czechoslovakia,TCH,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter
2,1077,Xavier Affentranger,M,26,NaN,NaN,Switzerland,SUI,1924,Chamonix,Ski Jumping,"Ski Jumping Men's Normal Hill, Individual",NaN,winter
3,1077,Xavier Affentranger,M,26,NaN,NaN,Switzerland,SUI,1924,Chamonix,Cross Country Skiing,Cross Country Skiing Men's 18 kilometres,NaN,winter
4,1077,Xavier Affentranger,M,26,NaN,NaN,Switzerland,SUI,1924,Chamonix,Nordic Combined,Nordic Combined Men's Individual,NaN,winter

In [58]:
## Challenge
#### 1. How many medals were handed out in winter games v. summer game (return both in absolutes and as a percentage)?
olympicData.query("Season == 'winter'").value_counts("Medal")

Medal
Gold      1913
Silver    1896
Bronze    1886
Name: count, dtype: int64

In [60]:
olympicData.query("Season == 'summer'").value_counts("Medal")

Medal
Gold      11459
Bronze    11409
Silver    11220
Name: count, dtype: int64

In [98]:
#### 2. Top 10 count of gold medals by country
medaldf = olympicData.query("Medal == 'Gold'")
medaldf['Medal'].value_counts()

Medal
Gold    13372
Name: count, dtype: int64

In [112]:
medaldf["Team"].value_counts().head(10)

Team
United States    2474
Soviet Union     1058
Germany           679
Italy             535
Great Britain     519
France            455
Sweden            451
Hungary           432
Canada            422
East Germany      369
Name: count, dtype: int64

In [132]:
#### 3. Of these top 10, what percent of the gold medals do they have?

In [156]:
medals_dicts = ({"country":"USA", "percentMedals":(2_474/12_372) * 100},
{"country":"USSR", "percentMedals":(1_058/12_372) * 100},
{"country":"germany", "percentMedals":(679/12_372) * 100},
{"country":"italy", "percentMedals":(535/12_372) * 100},
{"country":"britain", "percentMedals":(519/12_372) * 100},
{"country":"france", "percentMedals":(455/12_372) * 100},
{"country":"sweden", "percentMedals":(451/12_372) * 100},
{"country":"hungary", "percentMedals":(432/12_372) * 100},
{"country":"canada", "percentMedals":(422/12_372) * 100},
{"country":"eastGermany", "percentMedals":(369/12_372) * 100})

In [158]:
top10medals = pd.DataFrame(medals_dicts)
top10medals

       country  percentMedals
0          USA             20
1         USSR              9
2      germany              5
3        italy              4
4      britain              4
5       france              4
6       sweden              4
7      hungary              3
8       canada              3
9  eastGermany              3